go 1.22.2

use (
	.
	./cmd/api
	./cmd/event-processor
	./cmd/migration-agent
	./domain
)

replace (
	github.com/google/generative-ai-go => github.com/google/generative-ai-go v0.8.0
	github.com/googleapis/enterprise-certificate-proxy => github.com/googleapis/enterprise-certificate-proxy v0.3.1
	google.golang.org/api => google.golang.org/api v0.160.0
	google.golang.org/genproto => google.golang.org/genproto v0.0.0-20240116215550-a9fa1716bcac
)
